<div class="container">

    <br>
    <div>
    <h1>Virtual healthcare <br> for you</h1>
    <p> Trafalgar provides progressive, and affordable <br> healthcare, accessible on mobile and online <br> for everyone</p>
    <img src="assets/images/imge1.png" class="img1">
    </div>

    <div style="text-align: center;">
        <h3>Our Services</h3>
        <p>aeghoetg aetghewthbwrenwr rwnrrhnrwn wrnwrhnwrhnwt nthnwhtnthnegng nhethnethn
            <br>agethh gnsdgnn egetn nrnwrhnwrn wrhmwrmygw wntntn rnwrh wthmtm wnwthmwt
            <br>gfhfvavrfj jhjhvjhvj giqebieuboenb kjbkjwnkebj kjqekrhkgehgkbhbvqknbkgnr
        </p>
    </div>

    <div class="col-md-3 hidden-sm-right" style="width: 18rem;">
        <img src="assets/images/Frame.png" class="card1-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="col-md-3 hidden-sm-right" style="width: 18rem;">
        <img src="assets/images/Frame.png" class="card2-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

      <div class="col-md-3 hidden-sm-right" style="width: 18rem;">
        <img src="assets/images/Frame.png" class="card3-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>


</div> 
