
    <div class="header">
        <div class="header-text">
            <h1>Virtual healthcare <br> for you</h1>
            <p> Trafalgar provides progressive, and affordable <br> healthcare, accessible on mobile and online <br> for everyone</p>
            <button type="button" class="btn btn-primary"> Consult today</button>    
        </div>
        <img src="assets/images/trafalgar-header illustration 1.png" class="img1">
    </div>

    <div >
    <div style="text-align: center;" class="text">
        <h3>Our Services</h3>
        <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment 
        <br> with our highly qualified doctors you can consult with us which type of service is suitable for your health</p>
    </div>


<div>
    <div class="rectangle5" style="width: 18rem;">
        <img src="assets/images/Frame.png" class="card1-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Search doctor</h5>
                <p class="card-text">Choose your doctor from thousands of specialist, general, and trusted hospitals</p>  
            </div>
    </div>

    <div class="rectangle7" style="width: 18rem;">
        <img src="assets/images/Frame2.png" class="card2-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Online pharmacy</h5>
                <p class="card-text">Buy  your medicines with our mobile application with a simple delivery system</p>
            </div>
    </div>

    <div class="rectangle6" style="width: 18rem;">
        <img src="assets/images/Frame3.png" class="card2-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Consultation</h5>
                <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
            </div>
    </div>

    <div class="rectangle8" style="width: 18rem;">
        <img src="assets/images/Frame4.png" class="card2-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Details info</h5>
                <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
            </div>
    </div>

    <div class="rectangle9" style="width: 18rem;">
        <img src="assets/images/Frame5.png" class="card2-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Emergency care</h5>
                <p class="card-text">You can get 24/7 urgent care for yourself or your children and your lovely family</p>
            </div>
    </div>

    <div class="rectangle10" style="width: 18rem;">
        <img src="assets/images/Frame6.png" class="card2-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tracking</h5>
                 <p class="card-text">Track and save your medical history and health data </p>
            </div>
    </div>

    <div style="text-align: center;" class="learn-more1">
        <button type="button" class="btn btn-primary2"> Learn more</button>    
    </div>
</div>



<div class="container-fluid">
    <div style="text-align: center;" class="cus-reviews">
    <img src="assets/images/image 1.png" class="card2-img-top" alt="Avatar" style="width:200px">
  <h1> What our customer are saying </h1>

</div>

  </div>

<!-- Footer -->
<footer class="footer">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Trafalgar
            </h6>
            <p>
                Trafalgar provides progressive, and affordable 
                <br>healthcare, accessible on mobile and online 
                <br> for everyone
                <br>
                <br>
                ©Trafalgar PTY LTD 2020. All rights reserved
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Company
            </h6>
            <p>
              <a href="#!" class="text-reset">About</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Testimonials</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Find a doctor
            </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Apps</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Region
            </h6>
            <p>
              <a href="#!" class="text-reset">Indonesia</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Singapore</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Hongkong</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Canada</a>
            </p>
          </div>
 
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
                Help
            </h6>
            <p>
              <a href="#!" class="text-reset">Help center</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Contact support
            </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Instructions</a>
            </p>
            <p>
              <a href="#!" class="text-reset"> How it works</a>
            </p>
          </div>
        </div>
      </div>
    </section>
  </footer>