<div class="container">

    <br>
    <div>
    <h1>Virtual healthcare <br> for you</h1>
    <p> Trafalgar provides progressive, and affordable <br> healthcare, accessible on mobile and online <br> for everyone</p>
    <img src="assets/images/imge1.png" class="img1">
    <button type="button" class="btn btn-primary"> Consult today</button>

    </div>

    <div >
    <div style="text-align: center;">
        <h3>Our Services</h3>
        <p>We provide to you the best choiches for you. Adjust it to your health needs and make sure your undergo treatment 
            <br> with our highly qualified doctors you can consult with us which type of service is suitable for your health
        </p>
    </div>
</div>

    <div col-md-3>
    <div class="card1" style="width: 18rem;">
        <img src="assets/images/Frame.png" class="card1-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Search doctor</h5>
          <p class="card-text">Choose your doctor from thousands of specialist, general, and trusted hospitals</p>  
        </div>
      </div>

      <div class="card2" style="width: 18rem;">
        <img src="assets/images/Frame2.png" class="card2-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Online pharmacy</h5>
          <p class="card-text">Buy  your medicines with our mobile application with a simple delivery system</p>
        </div>


        <div class="card3" style="width: 18rem;">
            <img src="assets/images/Frame3.png" class="card2-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Consultation</h5>
              <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
            </div>
        </div>

        <div class="card4" style="width: 18rem;">
            <img src="assets/images/Frame4.png" class="card2-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Details info</h5>
              <p class="card-text">Free consultation with our trusted doctors and get the best recomendations</p>
            </div>
        </div>

        <div class="card5" style="width: 18rem;">
            <img src="assets/images/Frame5.png" class="card2-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Emergency care</h5>
              <p class="card-text">You can get 24/7 urgent care for yourself or your children and your lovely family</p>
            </div>
        </div>

        <div class="card6" style="width: 18rem;">
            <img src="assets/images/Frame6.png" class="card2-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tracking</h5>
              <p class="card-text">Track and save your medical history and health data </p>
            </div>
        </div>

    </div>


</div> 
</div>